@import '~@angular/material/theming';

:host {
    display: block;
    width: 40vw;
    min-width: 300px;
}

mat-form-field {
    display: block;
    width: 100%;
}

.fullname {
    display: flex;
    
    mat-form-field {
        width: auto;
        flex-grow: 1;
    }
}

.mat-dialog-content {
    padding-bottom: 15px;
}

.avatar-selection {
    float: right;
}

.name-with-avatar {
    display: flex;
    width: 100%;
    mat-form-field {
        flex-grow: 1;
    }

    .avatar {
        height: 50px;
        line-height: 50px;

        .avatar-image {
            @include mat-elevation(2);
            max-width: 50px;
            border-radius: 50%;
            margin-left: 15px;
        }

        .select-image {
            white-space: nowrap;
            width: fit-content;
            cursor: pointer;
            
            &.button:hover {
                background-color: #f0f0f0;
            }
            padding: 5px;
        }
    }
}