:host {
    background-color: #1080d0;
    line-height: 50px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    z-index: 2;
}

span.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    display: inline-block; 
}

button {
    color: white;
    position: relative;
    top: -3px;
    text-transform: none;
    font-weight: initial;
}

.navigation {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    
    button.active {
        border-bottom: 2px solid white;
    }
}

.user {
    float: right;

    color: white;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 8px;
    
    .user-avatar {
        width: 30px;
        background-color: white;
        margin-top: -3px;
    }
    
    span {
        margin-right: 10px;
    }
}