<button class="menu-button" mat-icon-button (click)="_toggleSidenav()"><mat-icon>menu</mat-icon></button>
<span class="logo">Tierklinik Dobersberg</span>

<button mat-button [matMenuTriggerFor]="userMenu" class="user" *ngIf="!!(_user|async)">
  <span>{{(_user|async)?.username}}</span>
  <img class="user-avatar" [src]="(_user|async)?.icon">
</button>

<mat-menu #userMenu>
  <span mat-menu-item>Einstellungen</span>
  <span mat-menu-item>Passwort ändern</span>
  <span mat-menu-item (click)="_logout()">Abmelden</span>
</mat-menu>