<button class="menu-button" mat-icon-button (click)="_toggleSidenav()"><mat-icon>menu</mat-icon></button>
<span class="logo">Tierklinik Dobersberg</span>

<button mat-button [matMenuTriggerFor]="userMenu" class="user" *ngIf="!!(_user|async)">
  <span>{{(_user|async)?.username}}</span>
  <img class="user-avatar" [src]="'/api/users/icons/' + (_user | async)?.username">
</button>

<mat-menu #userMenu>
  <span mat-menu-item class="menu-item" routerLink="/profile">Mein Profil</span>
  <span mat-menu-item class="menu-item"  (click)="_logout()">Abmelden</span>
</mat-menu>