<mat-tab-group>
    <mat-tab label="Öffnungszeiten">
      <cl-openinghours-settings *matTabContent></cl-openinghours-settings>
    </mat-tab>
    <mat-tab label="Benutzer">
      <cl-user-settings *matTabContent></cl-user-settings>
    </mat-tab>
    
    <mat-tab label="Dienstarten">
      <cl-roster-types *matTabContent></cl-roster-types>
    </mat-tab>
    
    <mat-tab label="Dienstplan">
      <cl-roster readonly="false" *matTabContent></cl-roster>
    </mat-tab>
    
    <mat-tab label="Integration">
      <cl-integration *matTabContent></cl-integration>
    </mat-tab>
</mat-tab-group>
