<mat-tab-group>
    <mat-tab label="Öffnungszeiten">
      <cl-openinghours-settings (scrollTo)="_scrollTo($event)"></cl-openinghours-settings>
    </mat-tab>
    <mat-tab label="Benutzer">
      <cl-user-settings></cl-user-settings>
    </mat-tab>
    
    <mat-tab label="Dienstplan">
      <td-calendar *matTabContent [source]="calendarSource" (onClick)="_createSchedule($event)">
        <div class="opening-hours" *tdDaySectionDef="let frame">
            <span class="start-time">{{frame.start}}</span>
            <span class="end-time">{{frame.end}}</span>
        </div>

        <div *tdDayScheduleDef="let schedule" class="schedule">
          <div class="attendees">
            <span *ngFor="let attendee of schedule.attendees">{{attendee.name}}, </span>
          </div>
          <span class="start-time">{{schedule.start}}</span>
          <span class="end-time">{{schedule.end}}</span>
        </div>
      </td-calendar>
    </mat-tab>
</mat-tab-group>

<ng-template #editOrNewMenu>
  <div class="decision-menu" tabindex="0">
    <button mat-button matDialogClose (click)="_editSchedule()">Bearbeiten</button>
    <button mat-button matDialogClose (click)="_createNew()">Neu</button>
    <button mat-button matDialogClose (click)="_deleteSchedule()">Löschen</button>
  </div>
</ng-template>