:host {
    display: block;
    height: calc(100% - 52px);
    overflow: hidden;
}

.mat-tab-group {
    height: 100%;
}
                
span.start-time, span.end-time {
    font-size: 11px;
    font-weight: lighter;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 20px;
    display: block;
}

span.start-time {
    top: 0px;
}

span.end-time {
    bottom: 0px;
}

.opening-hours {
    height: 100%;
    background-color: #f5f5f5;
}

.schedule {
    border: 1px solid lightskyblue;
    border-radius: 5px;
    background-color: lightskyblue;
    height: 100%;
    opacity: 0.85;

    &:hover {
        background-color: darken(lightskyblue, 10%);
    }
    
    .attendees {
        margin-top: 20px;
    }
}

.decision-menu {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    
    button {
        display: block;
        width: 100%;
        text-align: left;
    }
}