@import '~@angular/material/theming';

:host {
    display: block;
    height: 100%;
}


.button-toolbar {
    text-align: right;
    
    button {
        text-transform: uppercase;
    }
}

.type-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

table {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

:host-context(.handset) {
    table {
        width: 95%;
    }
}
