:host {
    display: block;
}

button {
    text-transform: uppercase;
    color: #1080d0;
}

.reset-button {
    float: right;
}

.config {
    float: right;
}

.mat-card-avatar {
    text-align: center;

    mat-icon {
        vertical-align: middle;
    }
}