<div class ="create-event-container">
    <p mat-dialog-title>Neuer Termin</p>
    
  <form (ngSubmit)="_save()" #form="ngForm">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Titel" name="titel" required [(ngModel)]="_title">
      </mat-form-field>
    </mat-dialog-content>
    
    <mat-form-field>
      <input matInput (focus)="picker.open()" [matDatepicker]="picker" placeholder="Datum" [(ngModel)]="_date" name="date" required (ngModelChange)="_getPossibleCalendars()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="time-selection">
        <div class="time-frame">
            <mat-form-field class="time">
              <input matInput type="time" [(ngModel)]="_from" lang="de" name="fromHour" required placeholder="Von" value="00:00" (ngModelChange)="_getPossibleCalendars()">
            </mat-form-field>
            <mat-form-field class="time">
              <input matInput type="time" [(ngModel)]="_to" name="toMinute" lang="de" required placeholder="Bis" value="00:00" (ngModelChange)="_getPossibleCalendars()">
            </mat-form-field>
        </div>
      </div>

    <mat-form-field>
      <textarea rows="5" name="description" matInput placeholder="Beschreibung" [(ngModel)]="_description"></textarea>
    </mat-form-field>
    
    <div *ngIf="_noRoster">
      <span class="no-roster">Es gibt noch keinen Dienstplan für diesen Tag</span>
    </div>

    <mat-form-field>
      <mat-select placeholder="Kalender / Arzt" name="calendar" [(ngModel)]="_calendarId" required>
        <mat-option *ngFor="let option of _calendars" [value]="option.id">
            <span [style.background-color]="option.backgroundColor" class="type-color"></span>{{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
    
    <mat-dialog-actions>
      <button mat-button matDialogClose>Abbrechen</button>
      <button mat-button (click)="_save()" [disabled]="!form.valid">Speichern</button>
    </mat-dialog-actions>
  </div>