<cl-header *ngIf="!_loginPage" (toggleNav)="snav.toggle()"></cl-header>


<mat-sidenav-container class="sidenav-container" [class.login-page]="_loginPage">
                        
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="true" fixedTopGap="52" [class.mobile]="mobileQuery.matches">
        <mat-nav-list>
            <a mat-list-item routerLink="/door" routerLinkActive="active">
                <mat-icon mat-list-icon>account_balance</mat-icon>
                Eingangstür
            </a>
            <a mat-list-item routerLink="/rosta" routerLinkActive="active">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                Dienstplan
            </a>
            <a mat-list-item *ngIf="(_user|async)?.role === 'admin'" routerLink="/settings" routerLinkActive="active">
                <mat-icon mat-list-icon>settings</mat-icon>
                Einstellungen
            </a>
            <a class="profile-link" mat-list-item routerLink="/profile" routerLinkActive="active">
                <mat-icon mat-list-icon>account_box</mat-icon>
                Mein Profil
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>