mat-toolbar {
    span {
        &.kw {
            color: gray;
        }
        margin-left: 20px;
        vertical-align: bottom;
    }
}

.calendar {
    display: flex;
    height: calc(100% - 64px);
    overflow-y: hidden;

    .day {
        flex-grow: 1;
        height: 100%;
        text-align: center;
        position: relative;
        border-right: 1px solid rgba(0,0,0,.12);

        .day-container {
            position: relative;
            height: 100%;
            width: 100%;
            display: block;
            
            &.clickable {
                cursor: pointer;
            }
        
            .auto-position {
                position: absolute;
                display: block;
                left: 0px;
                right: 0px;
                transition: all 250ms ease-in-out;
                transition-property: height, top, opacity, width, left;
            }
        }
        
        span.day-header {
            font-weight: lighter;
            display: block;
            width: 100%; 
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #f5f5f5;
            font-size: 90%;
            border-top: 1px solid rgba(0,0,0,.12);
            border-right: 1px solid rgba(0,0,0,.12);
            border-bottom: 1px solid rgba(0,0,0,.12);
            

            span.date {
                display: block;
                font-size: 80%;
            }
        }

    }
}

.toolbar-buttons {
    .mat-button {
        font-size: 20px;
        position: relative;
        top: 2px;
    }

    position: absolute;
    right: 20px;
    text-align: right;
}