<mat-card>
  <mat-card-header>
    <mat-card-title>{{label}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item *ngFor="let frame of config" role="listitem">
        <div class="day-time-frame">
          <span>{{frame.start}} - {{frame.end}}</span>
          <button mat-icon-button (click)="_deleteTimeFrame(frame)"><mat-icon>delete</mat-icon></button>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="!config || config.length === 0" role="listitem">
        <div class="day-time-frame">
          <span>Geschlossen</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="_addTimeFrame()">Neu Öffnungszeit</button>
  </mat-card-actions>
</mat-card>