<form form="ngForm" (ngSubmit)="_save()">
  <h2 mat-dialog-title>Neue Öffnungszeit für {{weekday}}</h2>
  <mat-dialog-content>
      <mat-form-field class="time">
          <input matInput type="time" [(ngModel)]="_from" lang="de" name="fromHour" required placeholder="Von">
      </mat-form-field>
      <mat-form-field class="time">
        <input matInput type="time" [(ngModel)]="_to" name="toMinute" lang="de" required placeholder="Bis">
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" (click)="_abort()">Abbrechen</button>
    <button mat-button type="submit" (click)="_save()">OK</button>
  </mat-dialog-actions>
</form>