.dashboard {
    // Fallback for older browsers
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 1 1 50%;
        // this will add up to a 2rem gap between items.
        padding: 1rem;
    }
  
    // For new browsers
    --column-count: 2;

    display: grid;
    width: 90%;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    & .dashboard {
        margin-top: 0px;
        width: 100%;
    }
    
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-gap: 2rem;
    
    &__item {
        grid-column-end: span 2;
        
        &--half {
            grid-column-end: span 1;
        }
        
        &--full {
            grid-column: 1 / -1;
        }
    }

    @media screen and (min-width: 48rem) {
        --column-count: 4;
    }
}

@supports (display: grid) {
    .dashboard__item {
        padding: 0;
    }
}