<p mat-dialog-title>Passwort ändern</p>
<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="_save()">
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="_oldPassword" name="old-password" required placeholder="Aktuelles Password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [(ngModel)]="_newPassword" name="new-password" required placeholder="Neues Passwort">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" [pattern]="_newPassword" name="confirm-new-password" required placeholder="Neues Passwort">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose>Abbrechen</button>
  <button mat-button tyoe="submit" (click)="_save()">Speichern</button>
</mat-dialog-actions>