/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-dialog-actions {
    float: right;
}

.mat-card {
    .mat-card-title {
        font-size: 120%;
    }
}

mat-card, cl-openinghours-settings, .mat-dialog-actions, .mat-dialog-content {
    .mat-button {
        color: #1080d0;
        text-transform: uppercase;
        //font-weight: bolder;
    }
}

mat-tab-group {
    .mat-tab-body-wrapper {
        height: 100%;
    }
}

.tooltip {
    font-size: 100%;
}

.user-avatar {
    @include mat-elevation(1);
    background-color: white;
    border-radius: 50%;
    width: 24px;
}