:host {
    display: block;
    position: absolute;
    background-color: rgba(#f0f0f0, 0.5);
    top: 53px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.hypnoload {
    background: transparent;
    box-shadow: none;
}