<mat-toolbar>
  <mat-toolbar-row>Kalenderwoche <span class="kw">{{_currentWeek}} / {{_currentYear}}</span>
    <div class="toolbar-buttons">
      <button mat-button (click)="openTodaysWeek()">{{_currentTimeSpan}}</button>
      <button mat-icon-button (click)="_openPrevWeek()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-icon-button (click)="_openNextWeek();"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="calendar" (window:resize)="_onResize($event)">
  <div class="day" *ngFor="let day of _days; trackBy: _trackDays" >
    <span class="day-header">
      {{day.name}}
      <span class="date">{{day.date.format('DD.MM')}}</span>
    </span>

    <div class="day-container" #weekDayContainer>
      <div class="opening-hour" *ngFor="let frame of day.sections; trackBy: _trackFrame"
          clOpeningHour [frame]="frame" [weekday]="day.weekDay" [weekdayNumber]="day.weekDayNumber">
          <span class="start-time">{{frame.start}}</span>
          <span class="end-time">{{frame.end}}</span>
      </div>
    </div>
  </div>
</div>